.ResizeDragWrapper {
    z-index: 100;
    background-color: rgba(24, 24, 24, 0.9);
    color: hsla(0,9%,100%);
    border-radius: 8px;
}

.lyrics_window {
    width: 100%;
    height: 100%;
    border: 0.5px solid rgb(255, 219, 77);
    border-radius: 8px;
    cursor: default;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

.text_box {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 4% 4% 4%;
}

.scroll_blur {
    position: sticky;
    width: 100%;
    height: 8%;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0, rgba(24, 24, 24, 0.1)),
    color-stop(0.1, rgba(24, 24, 24, 0.2)),
    color-stop(0.2, rgba(24, 24, 24, 0.3)),
    color-stop(0.3, rgba(24, 24, 24, 0.4)),
    color-stop(0.4, rgba(24, 24, 24, 0.5)),
    color-stop(0.5, rgba(24, 24, 24, 0.6)),
    color-stop(0.6, rgba(24, 24, 24, 0.7)),
    color-stop(0.7, rgba(24, 24, 24, 0.8)),
    color-stop(0.8, rgba(24, 24, 24, 0.9)),
    color-stop(0.9, rgba(24, 24, 24, 1))
);
}

.lyrics_window::-webkit-scrollbar {
	-webkit-box-shadow: inset 0 0 6px transparent;
	border-radius: 15px;
}

.lyrics_window::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(24,24,24,0) 0%, rgba(24,24,24,0) 50%, rgba(255,226,116,1) 51%, rgba(255,226,116,1) 100%);
}

.close_button {
    position: fixed;
    top: -3%;
    height: 3%;
    width: calc(100% / 3);
}